**/target/
**/venv/
.idea/
.vscode/
.undodir/


exturion/exturion_compiler_internal/llvm7
exturion/exturion_benchmarks/cuda/.metadata/
scratchpad/*
!scratchpad/.gitkeep

**/*.rs.bk
*.feather
*.svg
*.csv
*.bin
*.annotation
**/*.profdata
**/*.mm_profdata
**/perf.data*
*.png
!cpu/deps/eframe/data/icon.png
Session.vim
/.gtm/
config.yaml
**/*.old
**/*.annotation
**/*.data
**/rustc-ice*


**/__pycache__/
**/*.so
